---
layout: default
title: Superfeedr Blog
description: "We blog about Superfeedr's features, how to parse RSS feeds with several web platforms, the open web and more!"
---

{% for post in paginator.posts limit:10 %}

<article class="blog-article h-entry hentry">
	<h2 class="entry-title p-name"><a class="u-url" href="{{ post.url }}">{{ post.title }}</a></h2>
	<div class="excerpt p-summary entry-content">
		<p> {{ post.content | strip_html | truncatewords:50 }} &nbsp;</p>
	</div>
	<div class="entry-meta">
		<ul class="entry-meta--primary">

			<li style="display:none" class="entry-meta--item">
				<span class="dt-published published dt-updated updated"><time class="value" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time></span>
			</li>

      <li style="display:none" class="entry-meta--item author">
      	<span class="p-author h-card vcard">
      		<img alt="avatar {{ post.author_name }}" class="u-photo" src="//www.gravatar.com/avatar/{{post.author_email_md5}}?s=20">
      		<a href="{{ post.author_uri}}" class="url fn" rel="author">{{ post.author_name }}</a>
      	</span>
      </li>

			<li class="entry-meta--item">
				<a href='{{ post.url }}#disqus_thread'>View Comments</a> |  {{ post.tags | array_to_sentence_string }}
			</li>
		</ul>
		<div class="entry-meta--secondary">
			<a href="{{ post.url }}"  class="entry-read-more">Read More &rarr;</a>
		</div>
	</div>
</article>

{% endfor %}

<article class="container container--content pagination" style="width:100%; text-align: center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous button button--raised  button--positive">← Previous Page ({{ paginator.previous_page }})</a>
  {% else %}
    <span class="previous button button--raised  button--neutral">← Previous Page</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"  class="next button button--raised  button--positive">Next Page ({{ paginator.next_page }}) →</a>
  {% else %}
    <span class="next button button--raised  button--neutral">Next Page →</span>
  {% endif %}
</article>


<article class="blog-article">
	<h3>What is Superfeedr?</h3>
	<p>
		Superfeedr's powerful unified <strong>Feed API</strong> simplifies how you handle <em>RSS, Atom, or JSON feeds</em>. Whether you publish or consume feeds, we streamline the notification process, saving you time and resources.
	</p>

	<p>
		We blog about Superfeedr's features, how to parse RSS feeds with several web platforms, the open web and more!
	</p>
</article>