---
layout: default
title: Real-time cloudy thoughts from a super-hero
---

<p style="font-size: 1.2em; padding: 20px 0px; text-align:center">We build a <a href="http://superfeedr.com">complex feed fetching and parsing infrastructure</a> so that you don't have to. We believe the web should be more open and that feeds are a key component of that ecosystem. <br /><input type="button" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Subscribe"> or read the <a href="/archive.html">archive</a>.

</p>



{% for post in site.posts limit:10 %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="excerpt">
        {{ post.content | strip_html | truncatewords:50 }} &nbsp;  <a href="{{ post.url }}/">Read more</a>
    </p>
    <small class="meta">{{ post.date | date:"%B %d, %Y" }} | <a href='{{ post.url }}/#disqus_thread'>View Comments</a> | {% for t in post.categories %}
      <a href='http://www.google.com/search?q={{ t | escape }}+site:blog.superfeedr.com'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %} </small>
{% endfor %}
