<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="ofroHQ3qXBS1SQfblK9-U_oduGZ975Bb3i_uP13Myao" />

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic|Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>

  <link href="/css/front.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/prism.css" rel="stylesheet" type="text/css">

  <title>Superfeedr : {{ page.title }} </title>

  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml">
  <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />

  <meta http-equiv="Content-Security-Policy" content="connect-src stream.superfeedr.com">

  <link rel="shortcut icon" href="/favicon.png">

</head>
<body>
  <header class="header">
    <div class="container">
      <h1 class="header-logo"><a href="/"><img src="/images/logo.png" alt=""> <span>Superfeedr Blog</span></a></h1>
      <nav class="nav-header">
        <ul class="nav-items">
          <li class="nav-item"><a href="http://superfeedr.com/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="http://superfeedr.com/publisher" class="nav-link">Publishers</a></li>
          <li class="nav-item"><a href="http://superfeedr.com/subscriber" class="nav-link">Subscribers</a></li>
          <li class="nav-item"><a href="http://superfeedr.com/subscriber/pricing" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="http://superfeedr.com/login" class="nav-link nav-link-bubble">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container body">
    <header class="body-header">
      <div class="blog-links">
        <input type="button" class="button  button--raised  button--positive" value="Subscribe" onclick="(function(){var z=document.createElement('script');z.src='http://www.subtome.com/load.js';document.body.appendChild(z);})()">
        <a href="/archive.html" class="button  button--raised  button--neutral">Read Archives</a>
      </div>
      <h2><strong>{{ page.title }} </strong></h2>
    </header>

    <div class="body-content">
      <section class="column  column--terms  body-content-text">
        {{ content }}
      </section>
    </div>

  </main>

  <div class="footer container">
    <footer class="site-footer">
      <ul class="site-footer__list">
<!--         <li class="site-footer__item"><a href="" class="site-footer__link">Documentation</a></li>
        <li class="site-footer__item"><a href="" class="site-footer__link">Support</a></li>
        <li class="site-footer__item"><a href="" class="site-footer__link">Blog</a></li>
        <li class="site-footer__item"><a href="/pricing.html" class="site-footer__link">Pricing</a></li>
        <li class="site-footer__item"><a href="" class="site-footer__link">Terms</a></li>
 -->      </ul>
      <ul class="site-footer__meta">
        <p class="site-footer__copyright">&copy; 2009&ndash;2015 Superfeedr</p>
      </ul>
    </footer>
  </div>



  {% for js_file in page.js_includes %}
  <script src="{{ js_file }}" async></script>
  {% endfor %}


  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  try {
    var pageTracker = _gat._getTracker('UA-9285763-1');
    pageTracker._setDomainName("superfeedr.com");
    pageTracker._initData();
    pageTracker._trackPageview();
  } catch(err) {}
  //--><!]]>
  </script>

  <script src="/scripts/prism.js"></script>

</body>
</html>



