<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Superfeedr : {{ page.title }} </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="ofroHQ3qXBS1SQfblK9-U_oduGZ975Bb3i_uP13Myao" />

  <!-- Stylesheets -->
  <link href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="http://superfeedr.com/stylesheets/superfeedr.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="http://superfeedr.com/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <link href="http://superfeedr.com/stylesheets/shjs/sh_nedit.min.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="http://superfeedr.com/stylesheets/thickbox.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/pygments.css">
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml">

 </head>

 <body class="blog">
   <div id="bg">
     <div id="wrapper">
      <div id="logo">
       <a href="http://superfeedr.com" class="home"><img alt="Superfeedr" src="http://superfeedr.com/images/superfeedr_complete.png" /></a>
     </div>
     <ul id="navigation">
      <li><a href="http://documentation.superfeedr.com" alt="RTFM">Documentation</a></li>
      <li><a href="http://superfeedr.com/about" alt="All you wanted to know. Almost">About</a></li>
    </ul>
    <div class="clear"></div>
    <div id="main_bg">
      <div id="main_top">
       <h1>{{ page.title }}</h1>
     </div> <!--main_top-->

     <div id="content">
        {{ content }}
    </div> <!--content-->

    <div id="footer">
      <ul id="footer_navigation">
        <li><a href="http://documentation.superfeedr.com">Docs</a></li>
        <li><a href="https://github.com/superfeedr/documentation/issues">Support</a></li>
        <li><a href="http://blog.superfeedr.com">Blog</a></li>
        <li><a href="https://superfeedr.com/cost">Pricing</a></li>
        <li><a href="https://superfeedr.com/terms">Terms</a></li>
      </ul>
    </div>
    <div id="log" style="" ></div>
  </div> <!--main_bg-->
</div><!--wrapper-->
</div><!--bg-->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  <!--//--><![CDATA[//><!--
  try {
      var pageTracker = _gat._getTracker('UA-9285763-1');
      pageTracker._setDomainName("superfeedr.com");
      pageTracker._initData();
      pageTracker._trackPageview();
  } catch(err) {}
  //--><!]]>
</script>
</body>
</html>
