<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <title>Superfeedr : {{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    
    <!-- Stylesheets --> 
    <link href="http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="http://superfeedr.com/stylesheets/superfeedr.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="http://superfeedr.com/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> 
    <link href="http://superfeedr.com/stylesheets/shjs/sh_nedit.min.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="http://superfeedr.com/stylesheets/thickbox.css" media="screen" rel="stylesheet" type="text/css" /> 
    <link href="/css/blog.css" media="screen" rel="stylesheet" type="text/css" /> 
    <!--[if lt IE 8]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js">IE7_PNG_SUFFIX=".png";</script>
		<link rel="stylesheet" type="text/css" href="css/ie.css" />
	<![endif]--> 
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="css/ie6.css" />
	<![endif]--> 
</head> 
 
<body> 
	<div id="bg"> 
	<div id="wrapper"> 
		<div id="logo"> 
			<h1><a href="http://superfeedr.com" class="home"><img alt="Superfeedr" src="http://superfeedr.com/images/superfeedr_complete.png" /></a></h1> 
		</div> 
		<ul id="navigation"> 
		    <li><a href="http://superfeedr.com/publisher" alt="Got feeds? Push them in realtime">Publishers</a></li> 
		    <li><a href="http://superfeedr.com/subscriber" alt="Want data? We have it for you">Subscribers</a></li> 
		    <li><a href="http://superfeedr.com/documentation" alt="RTFM">Documentation</a></li> 
		    <li><a href="http://superfeedr.com/about" alt="All you wanted to know. Almost">About</a></li> 
		</ul> 
		<div class="clear"></div> 

 	<div id="main_bg"> 
	    
            <div id="main_top"> 
    			<h2>PubSubHubbub with benefits</h2> 
    		</div> <!--main_top--> 
 
    		<div id="content"> 
{{ content }}
            <div class="clear"></div> 
            </div> <!--content--> 

 
 
	</div><!--wrapper--> 
	</div><!--bg--> 
	<!-- UserVoice --> 
    <script type="text/javascript"> 
    var uservoiceOptions = {
      /* required */
      key: 'superfeedr',
      host: 'superfeedr.uservoice.com', 
      forum: '17481',
      showTab: true,  
      /* optional */
      alignment: 'left',
      background_color:'#f00', 
      text_color: 'white',
      hover_color: '#06C',
      lang: 'en'
    };
 
    function _loadUserVoice() {
      var s = document.createElement('script');
      s.setAttribute('type', 'text/javascript');
      s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script> 
    <!-- UserVoice (end) --> 
</body> 
</html> 
    