---
layout: default
---
<article class="h-entry" id="post">
    <h2 class="p-name"><a class="u-url" href="{{page.url}}">{{page.title}}</a></h2>

    <span class="invisible u-uid">blog.superfeedr.com:{{ page.id }}</span>


    <div class="postmeta">By <span class="p-author h-card"><img class="u-photo" src="http://www.gravatar.com/avatar/{{page.author_email_md5}}?s=20" > <a href="{{ page.author_uri}}" rel="author">{{ page.author_name }}</a></span>, on <span class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</span></div>
    <div class="e-content">
        {{ content }}
    </div>
</article>

<blockquote>
  <p>Liked this post? <input type="button" onclick="(function(){var z=document.createElement('script');z.src='http://www.subtome.com/load.js';document.body.appendChild(z);})()" value="Follow this blog!" /> to get more or read the <a href="/archive.html">archive</a>.</p>
</blockquote>


<div id="comments">

    <h2>Comments</h2>

    <script id="webmention-hosted">
    (function () {
        var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
        url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
        url = url && url[0] ? url[0].href : false;
        sn.type = "text/javascript"; sn.async = true;
        sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
        s.parentNode.insertBefore(sn, s);
    }());
    </script>

    <div id="disqus_thread">
    </div>
    <script type="text/javascript" src="https://disqus.com/forums/superfeedr-thoughts/embed.js"></script>
    <noscript>
        <a href="https://superfeedr-thoughts.disqus.com/?url=ref">View the discussion thread.</a>
    </noscript>
</div>
