---
layout: default
---

<article class="blog-article blog-article--single h-entry">
  <h3 class="entry-title p-name"><a class="u-url" href="{{page.url}}">{{page.title}}</a></h3>

  <span class="invisible u-uid" style="display:none">blog.superfeedr.com:{{ page.id }}</span>

  <div class="entry-meta">
    <ul class="entry-meta--primary postmeta">
      <li class="entry-meta--item">By <span class="p-author h-card"><img class="u-photo" src="http://www.gravatar.com/avatar/{{page.author_email_md5}}?s=20" > <a href="{{ page.author_uri}}" rel="author">{{ page.author_name }}</a></span></li>
      <li class="entry-meta--item dt-published" datetime="{{ page.date | date_to_xmlschema }}"><time>{{ page.date | date_to_string }}</time></li>
    </ul>
  </div>
  <div class="entry-content e-content">
    {{ content }}
  </div>
</article>
<div class="blog-more">
  Liked this post? <a href="/archive.html">Read the archive</a> or <input type="button" value="Subscribe" class="button  button--raised  button--positive" onclick="(function(){var z=document.createElement('script');z.src='http://www.subtome.com/load.js';document.body.appendChild(z);})()">
</div>
<div class="blog-comments">
  <h3>Comments</h3>

    <div id="disqus_thread">
    </div>

    <script type="text/javascript" src="https://disqus.com/forums/superfeedr-thoughts/embed.js"></script>
    <noscript>
        <a href="https://superfeedr-thoughts.disqus.com/?url=ref">View the discussion thread.</a>
    </noscript>

    <script id="webmention-hosted">
    (function () {
      var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
      url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
      url = url && url[0] ? url[0].href : false;
      sn.type = "text/javascript"; sn.async = true;
      sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
      s.parentNode.insertBefore(sn, s);
    }());
    </script>
</div>
